@model Managr.Models.Comment

@{
    ViewBag.Title = "Edit";
}

<h2>Editare comentariu</h2>
<br />

@using (Html.BeginForm(actionName: "Edit",
                  controllerName: "Comments",
                  routeValues: new { id = Model.Id }))
{

    @Html.Label("Content", "Comment")
    <br/>
    @Html.Editor("Content", null, new { @class = "form-control" })
    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
    <br/>

    <button class="btn  btn-primary" type="submit">Edit comment</button>
}

