@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We only store data about registered users, created projects and tasks. No data used for analytics is stored by Managr. We care about your privacy <3.
</p>