@model Managr.Models.Task

<div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="/Tasks/Show/@Model.Id">Show Task</a>
    <br />
    @if (ViewBag.NonZeroAssigned)
    {
        <a class="btn btn-outline-success" href="/Tasks/ShowUsers/@Model.Id">Show Assigned Users</a>
        <br />
    }

</div>

@foreach (var adduser in ViewBag.UsersToAdd)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="d-flex justify-content-between flex-row">
                    <p>@adduser.UserName</p>
                    <form method="post" asp-controller="Tasks" asp-action="AddUser">
                        <input type="hidden" name="TaskId" value="@Model.Id" />
                        <input type="hidden" name="UserId" value="@adduser.Id" />
                        <button class="btn btn-outline-success" type="submit"><i class="bi bi-person-plus"></i> Add User</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <hr/>
}
