@{
    ViewBag.Title = "All projects";
}

@*
    A prettier Show will be added
*@

<h1>Projects</h1>

@foreach(Managr.Models.Project proj in ViewBag.Proiecte)
{
    <div>
        <h3>
            @proj.Name
        </h3>
        
        <p>
            @proj.Description
        </p>
        
        <div>
            <i class="bi bi-person"></i>
            @proj.Organizer.UserName
        </div>
    </div>
}

<a class="btn btn-outline-success" href="/Projects/New">
    <i class="bi bi-tools"></i>
    Start a project!
</a>